{#
/**
 * @file
 * Template for the mail to the customer who did not finish their order.
 *
 * Available variables:
 * - order_entity: The order entity.
 * - order_number: The order number.
 * - site_name: The name of the website.
 * - phone: The customer service phone number, configured on the abandoned carts
 *   settings page.
 *
 * @ingroup themeable
 */
#}
Dear valued customer,<br />

<p>This is a reminder that <a href="{{ url('<front>') }}cart">your order (#{{ order_number }}) at {{ site_name }}</a> is incomplete. Please note that you have <strong>not</strong> been charged.</p>
<p>You may return to the website to complete your order at any time, but the link given above will only work in the browser that you originally used, when you started the order.</p>

{% if phone %}
  <p>If you've experienced any trouble with your checkout, or if you have any questions, please call us at: {{ phone }}</p>
{% else %}
  <p>If you've experienced any trouble with your checkout, or if you have any questions, please contact us for assistance.</p>
{% endif %}

Sincerely,<br />
<br />
<a href="{{ url('<front>') }}">{{ site_name }}</a> Customer Service<br />
